* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Poppins';
    background-color: #BFC8E6;
}
.container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}
h1 {
    margin: 20px 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
.left-search {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    
}
.left-search i {
    padding:0 10px ;
}
input[type=text] {
    border: none;
    outline: none;
}
.right .list {
    list-style: none;
    display: flex;
    gap: 70px;
}
.list li {
    font-size: 16px;
    padding: 16px;
}
.list li:nth-child(2) {
    background-color: #849FFF;
    border-radius: 8px;
    color: white;
}
.box1 .img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background: url(./img/1.png) center no-repeat;
    background-size: cover;
}
.box2 .img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background: url(./img/225faee70e15159236035178cca54a11.png) center no-repeat;
    background-size: cover;
    
}
.box3 .img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background: url(./img/3.png) center no-repeat;
    background-size: cover;
}
.box4 .img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background: url(./img/4.png) center no-repeat;
    background-size: cover;
}
.box5 .img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background: url(./img/5.png) center no-repeat;
    background-size: cover;
}
.box6 .img {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background: url(./img/6.png) center no-repeat;
    background-size: cover;
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}
.box {
    gap: 20px;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 30% 64%;
    background-color: #FBFCFF;
    border-radius: 16px;

}
.box2 {
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
    
}
.box ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.box ul li {
    border-radius: 30px;
    color: #516FD4;
    border: 1px solid #ccc;
    padding: 2px 10px;
}
.content h2{
   padding-top:10px ;
}
.content p {
    margin-bottom: 30px;
}
